<div class="card">
  <app-form-header title="Formulario de registro"></app-form-header>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-2">
          <label class="form-label">
            Nombres <span class="text-danger">*</span>
          </label>
          <input 
            type="text" 
            formControlName="firstname"
            class="form-control" 
            placeholder="Por favor ingrese un nombre" 
          >
          <div class="alert alert-danger mt-2"  [hidden]="!firstname.errors?.['required'] || firstname.pristine">
            El nombre es requerido
          </div>
          <div class="alert alert-danger mt-2"  [hidden]="!firstname.hasError('lettersOnly') || firstname.pristine">
            El nombre no es valido
          </div>
        </div>
        <div class="mb-2">
          <label class="form-label">
            Apellidos <span class="text-danger">*</span>
          </label>
          <input 
            type="text" 
            formControlName="lastname"
            class="form-control" 
            placeholder="Por favor ingrese un apellido" 
          >
          <div class="alert alert-danger mt-2"  [hidden]="!lastname.errors?.['required'] || lastname.pristine">
            El apellido es requerido
          </div>
          <div class="alert alert-danger mt-2"  [hidden]="!lastname.hasError('lettersOnly') || lastname.pristine">
            El apellido no es valido
          </div>
        </div>
        <div class="mb-2">
          <label class="form-label">
            Email <span class="text-danger">*</span>
          </label>
          <input 
            type="text" 
            formControlName="email"
            class="form-control" 
            placeholder="john.doe@email.com" 
          >
          <div class="alert alert-danger mt-2"  [hidden]="!email.errors?.['required'] || email.pristine">
            El email es requerido
          </div>
          <div class="alert alert-danger mt-2"  [hidden]="!email.errors?.['email'] || email.pristine">
            El email no es valido
          </div>
        </div>
        <div class="mb-2">
          <label class="form-label">
            Contraseña <span class="text-danger">*</span>
          </label>
          <input 
            type="password" 
            formControlName="password"
            class="form-control" 
            placeholder="*********" 
          >
          <div class="alert alert-danger mt-2"  [hidden]="!password.errors?.['required'] || password.pristine">
            La contraseña es requerida
          </div>
          <div class="alert alert-danger mt-2"  [hidden]="!password.hasError('invalidPassword') || password.pristine">
            La contraseña debe cumplir con los siguientes requisitos:
            <ul>
              <li>Al menos 8 caracteres de longitud.</li>
              <li>Al menos una letra mayúscula.</li>
              <li>Al menos una letra minúscula.</li>
              <li>Al menos un número.</li>
              <li>Al menos un carácter especial como @$!%*?&.</li>
            </ul>
          </div>
        </div>
        <div class="mb-2">
          <label class="form-label">
            Paises <span class="text-danger">*</span>
          </label>
          <select class="form-select" formControlName="country" (change)="onCountryChange()" *ngIf="countries">
            <option selected disabled value="">Selecciona un país</option>
            <option *ngFor="let option of countries.sudamerica" [value]="option.pais">{{ option.pais }}</option>
          </select>
        </div>
        <div class="mb-2">
          <label class="form-label">
            Ciudades <span class="text-danger">*</span>
          </label>
          <select class="form-select" formControlName="city">
            <option selected disabled value="">Selecciona una ciudad</option>
            <option *ngFor="let option of citiesOptions" [value]="option">{{ option }}</option>
          </select>
        </div>
        <div class="mb-2"> 
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="acceptTermsConditions">
            <label class="form-check-label" for="flexCheckDefault">
              He leído y acepto los Términos y condiciones y las Políticas de privacidad <span class="text-danger">*</span>
            </label>
          </div>
        </div>
        <app-form-footer (clickEvent)="onSubmit" [invalid]="form.invalid" label="Enviar"></app-form-footer>
        <div class="mb-2">
          <div class="alert alert-success mt-2" *ngIf="showSuccessMessage && form.valid">
            El formulario ha sido enviado con exito!!
          </div>
        </div>
    </form>
  </div>
</div>